* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter';
}

header {
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    width: 100vw;
    height: 55px;
}

header > img {
    height: 24px;
}

header > h1 {
    color: white;
    font-family: 'Inter';
    font-size: 0.9rem;
    font-weight: 400;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

article.journal-entry {
    display: flex;
    margin-bottom: 36px;
    width: 500px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    padding: 20px;
    border-radius: 10px;
}

article.journal-entry:hover {
    transform: scale(1.05);
    background-color: rgb(233, 233, 233);
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}